<!--
including header content which is common for all pages
-->
<%- include ../user/header.ejs %>

<% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
  <p style="color:green"><%- messages.success %></p>
<% } %> 


  <body>   
  <div class="container">

  <!--
    Using FOREACH LOOP for the users array
    
    myArray.forEach(function(el, index) {
      // el - current element, i - index
    });
  -->
   <div class="row">
    <div class="row" style="margin-bottom : 50px;">
        <div class="col-md-12 ">
    <% if (data) { %>
    <% data.forEach(function(cpg){ %>
      
      
          <div class="col-md-4 col-xs-4" style="height: 400px">
              <a href='/campaign1_/detail/<%= cpg.id_cpg %>'>
              <img src="/../images/<%= cpg.foto_cpg %>" class="image-responsive" style="width: 100%;">
             <strong>
              <h3 style="text-align:justify; color: black;">
                <%= cpg.judul_cpg %>
              </h3>
              </strong>
              <p style="text-align:justify;color: black;">
                <%= cpg.desc_cpg %>
              </p>
            </a>
          </div>
    
    <% }) %>
  <% } %>      
        </div>
      </div>
    </div>

   
  


   
  </div>




  <!-- footer -->
  <section id="credits" class="text-center">
  <span class="social wow zoomIn">
  <a href="#"><img src="image/f.png"></a>
  <a href="#"><img src="image/t.png"></a>
  <a href="#"><img src="image/ig.png"></a>
  <a href="#"><img src="image/inn.png"></a>
  </span><br/>Copyright &copy; WEBDONASI</a> 
  <br/>
</section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>