<!--
including header content which is common for all pages
-->
<%- include ../user/header.ejs %>

<% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
  <p style="color:green"><%- messages.success %></p>
<% } %> 




  <body >
    <div class="container">

    <% if (data) { %>
    <% data.forEach(function(cpg){ %>
      
    <div class="row">
      <div class="col-md-12 col-xs-12">
      <div class="col-md-7 col-xs-7" style="height: 700px">
        <img src="/../images/<%= cpg.foto_cpg %>" style="height: 70%; width: 100%; margin-top:25px;" class="image-responsive">
        <p style="text-align:justify; margin-top:20px;">
            <%= cpg.foto_cpg %>
          </p>
      </div>
      <div class="col-md-1 col-xs-1" style="height: 700px"></div>
      <div class="col-md-4 col-xs-4" style="height: 700px">
      <H1><%= cpg.foto_cpg %></H1>
      <h2>Rp. <%= cpg.income_cpg %></h2>
      <h4>terkumpul dari target Rp. <%= cpg.target_cpg %></h4>
         <!--  <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
          </div> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-default" style="width:100%" data-toggle="modal" data-target="#Modal_Donate">Donate</button>
          </div>
      </div>
    </div>
    <!-- KOLOM DESKRIPSI -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-8 col-xs-8" style="height: 200px">
        
        </div>
      </div>
    </div>
   

  </div>
    





 <!-- Modal -->
       <div class="modal fade" id="Modal_Donate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Donate</h4>
            </div>
            <div class="modal-body">
               <form action="/campaign1__/addDonate" method="post" name="form1">
                 
                  <div class="form-group">
                    <label for="id_rek_tujuan" class="control-label">Rek. Tujuan : <span class="vfb-required-asterisk"> </span></label>
                      <select name="id_rek_tujuan" id="id_rek_tujuan" class="vfb-select  vfb-medium  required ">
                        <option value="1">BRI Syariah </option>
                        <option value="2">Mandiri Syariah </option>
                       </select> </
                  </div>
                  <div class="form-group">
                    <label for="jum_donasi" class="control-label">Jumlah Donasi:</label>
                     <input type="text" class="form-control" id="jum_donasi" placeholder="nominal donasi" name="jum_donasi" ></
                  </div>
                 
                  <input type="hidden" class="form-control" id="id_cpg" value="<%= cpg.id_cpg %>" />
                  <input type="hidden" class="form-control" name="tanggal" id="tanggal" value=" " />
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" name="Submit" value="Donate" class="btn btn-primary" />
            </div>
          </div>
        </div>
      </div>
        <!-- END MODAL -->

  <% }) %>
  <% } %> 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>




  <!-- footer -->
    <section id="footer" class="text-center">
  <span class="social wow zoomIn">
  <a href="#"><img src="image/f.png"></a>
  <a href="#"><img src="image/t.png"></a>
  <a href="#"><img src="image/ig.png"></a>
  <a href="#"><img src="image/inn.png"></a>
  </span><br/>Copyright &copy; Masjid Muslim</a> 
  <br/>
</section>
</html>