<!--
including header content which is common for all pages
-->
<%- include ../user/header.ejs %>

<% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
  <p style="color:green"><%- messages.success %></p>
<% } %> 

  <body >
    <div class="container">

  <div class="jumbotron">
      <div style="text-align: center;">
          <h2>Terima Kasih telah berpartisipasi dalam pembanguan Masjid
              Silahkan Lakukan Transaksi Pembayaran Donasi </h2>
      </div>
      <p></p>
      <div class="table-responsive" style="padding-top: 50px">
      <table class="table"> 
        <tr>
          <td><p> ID Donasi : </p></td>
          <td><p id="id_donasi"> <%= id_donasi %></p></td>
        </tr>
        <tr>
          <td><p> Nama Bank : </p></td>
          <td><p id="nama_bank"><%= nama_bank %></p></td>
        </tr>
        <tr>
          <td><p> No Rekening Tujuan : </p></td>
          <td><p id="no_rek"></p> <%= no_rek %></td>
        </tr>
        <tr>
          <td><p> Jumlah Donasi : </p></td>
          <td><p id="jum_donasi"> <%= jum_donasi %></p></td>
        </tr>      
      </table>
      </div>
      <p>CATATAN : Mohon di ingat kode ID Donasi untuk melakukan Konfirmasi Pembayaran</p>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>




  <!-- footer -->
    <section id="footer" class="text-center">
  <span class="social wow zoomIn">
  <a href="#"><img src="image/f.png"></a>
  <a href="#"><img src="image/t.png"></a>
  <a href="#"><img src="image/ig.png"></a>
  <a href="#"><img src="image/inn.png"></a>
  </span><br/>Copyright &copy; Masjid Muslim</a> 
  <br/>
</section>
</html>