<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<!-- Modal Edit user -->

         <form action="/campaign_/edit/<%= id %>" method="post" name="form1">
	         <div class="form-group">
	            <label for="judul" class="control-label">Judul Campaign :</label>
	            <input type="text" class="form-control" name="judul_cpg" id="judul_cpg" placeholder="Judul Campaign" value="<%= judul_cpg %>" /> </
	          </div>
	          <div class="form-group">
	            <label for="desc" class="control-label">Deskripsi:</label>
	             <input type="text" class="form-control" id="desc_cpg" placeholder="Deskripsi" name="desc_cpg" value="<%= desc_cpg %>" > </
	          </div>
	          <div class="form-group">
	            <label for="foto" class="control-label">Foto :</label>
	            <input type="text" class="form-control"  value="<%= foto_cpg %>" />
	            <input type="file" class="form-control" id="foto_cpg" name="foto_cpg"  value="<%= foto_cpg %>" />
	          </div>
	          <div class="form-group">
	            <label for="start" class="control-label">Mulai Tanggal :</label>
	            <input type="date" class="form-control" name="start_cpg" id="start_cpg" placeholder="dd/mm/yyyy" value="<%= start_cpg %>" /> </
	          </div>
	          <div class="form-group">
	            <label for="deadline" class="control-label">Deadline :</label>
	            <input type="text" class="form-control" name="deadline_cpg" id="deadline_cpg" placeholder="jumlah hari" value="<%= deadline_cpg %>" /> </
	          </div>
	          <div class="form-group">
	            <label for="target" class="control-label">Jumlah Target :</label>
	            <input type="text" class="form-control" name="target_cpg" id="target_cpg" placeholder="nominal" value="<%= target_cpg %>"/> </
	          </div>
	          <div class="form-group">
	            <label for="income" class="control-label">Income :</label>
	            <input type="text" class="form-control" name="income_cpg" id="income_cpg" placeholder="nominal" value="<%= income_cpg %>"/> </
	          </div>
	          <div class="form-group">
	            <label for="alamat" class="control-label">Alamat :</label>
	            <input type="textarea" class="form-control" name="alamat" id="alamat" placeholder="Alamat" value="<%= alamat %>"/> </
	          </div>
	           <div class="form-group">
	            <label for="kontak_dkm" class="control-label">Kontak DKM :</label>
	            <input type="textarea" class="form-control" name="kontak_dkm" id="kontak_dkm" placeholder="Kontak DKM" value="<%= kontak_dkm %>"/></
	          </div>
        <input type="submit" name="Submit" value="Save Change" class="btn btn-primary"/>
        <input type="hidden" name="_method" value="PUT" />
 </form>

 