<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<div style="text-align: center;">
	<h1>Rekening Masjid Muslim</h1>
</div>
<div><h3>  
		<a href="/rekening_"> Rekening</a> | 
		<a href="/pre_transaksi_">List Donatur [Pre Donate]</a> | 
	    <a href="/konfirmasi_bayar_">Konfirmasi Bayar</a> | 
	</h3>
</div>

<div>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">
	 Add Rekening
	</button>
</div>	

<div class="table-responsive">
<table class="table">          
	<tr style='text-align:left; background-color:#CCC'>
		<th>ID Rekening </th>
		<th>Nama Bank</th>
		<th>Nama Rekening</th>
		<th>No rekening</th>
		<th>Action</th>
	</tr>

	
	<!--
		Using FOREACH LOOP for the users array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->

	<% if (data) { %>
	<% data.forEach(function(rek){ %>
		<tr>
			<td><%= rek.id_rek_tujuan %></td>
			<td><%= rek.nama_bank %></td>
			<td><%= rek.nama_rek %></td>
			<td><%= rek.no_rek %></td>
			<td>
				<div style="float:left">
					<a class="btn btn-warning" href='/rek_/edit/<%= rek.id_rek_tujuan %>'><i class="glyphicon glyphicon-edit"></i> Edit</a>	
					<form method="post" action="/rek_/delete/<%= rek.id_rek_tujuan %>"   style="float:right">	
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" class="btn btn-danger" />
						<input type="hidden" name="_method" value="DELETE" />					
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>
</div>




<!-- Modal Add user -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
         <form action="/rekening_/add" method="post" name="form1">
	          <div class="form-group">
	            <label for="nama_bank" class="control-label">Nama Bank :</label>
	            <input type="text" class="form-control" name="nama_bank" id="nama_bank" placeholder="Nama Bank"  /></
	          </div>
	          <div class="form-group">
	            <label for="nama_rek" class="control-label">Nama Rekening:</label>
	             <input type="nama_rek" class="form-control" id="nama_rek" placeholder="Nama Rekening" name="nama_rek" ></
	          </div>
	          <div class="form-group">
	            <label for="no_rek" class="control-label">No Rekening :</label>
	            <input type="text" class="form-control" name="no_rek" id="no_rek" placeholder="No Rekening"/></
	          </div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" name="Submit" value="Save" class="btn btn-primary" />
      </div>
    </div>
  </div>
</div>
<!--  -->





<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
