<!--
including header content which is common for all pages
-->

<!-- LIST DONATUR YANG BERENCANA DONASI(BLM KONFORMASI BAYAR) -->

<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<div style="text-align: center; ">
	<h1>List Donatur </h1>
</div>
<div><h3>
		    <a href="/rekening_/<%= id_admin1 %>"> Rekening</a> | 
		    <a href="/pre_transaksi_/<%= id_admin1 %>">List Donatur [Pre Donate]</a> | 
			<a href="/konfirmasi_bayar_/<%= id_admin1 %>">Konfirmasi Bayar</a> | 
	</h>
</div>

<div>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">
	 Add List Transaksi
	</button>
</div>	

<div class="table-responsive">
<table class="table">          
	<tr style='text-align:left; background-color:#CCC'>
		<th>ID Donasi </th>
		<th>ID Campaign </th>
		<th>ID Rekening Tujuan</th>
		<th>Jumlah Donasi</th>
		<th>Tanggal</th>
		<th>Action</th>
	</tr>

	<!--
		Using FOREACH LOOP for the users array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->

	<% if (data) { %>
	<% data.forEach(function(a){ %>
		<tr>
			<td><%= a.id_donasi %></td>
			<td><%= a.id_cpg %></td>
			<td><%= a.id_rek_tujuan %></td>
			<td><%= a.jum_donasi %></td>
			<td><%= a.tanggal %></td>
			<td>
				<div style="float:left">
					<a class="btn btn-warning" href='/rek_/edit/<%= rek.id_donasi %>/<%= id_admin1 %>'><i class="glyphicon glyphicon-edit"></i> Edit</a>	
					<form method="post" action="/rek_/delete/<%= rek.id_donasi %>/<%= id_admin1 %>"   style="float:right">	
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" class="btn btn-danger" />
						<input type="hidden" name="_method" value="DELETE" />					
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>
</div>


  

<!-- Modal Add  -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
         <form action="/pre_transaksi_/add/<%= id_admin1 %>" method="post" name="form1">
         	 <div class="form-group">
	            <label for="id_cpg" class="control-label">ID campaignn:</label>
	             <input type="text" class="form-control" id="id_cpg" placeholder="ID campaign" name="id_cpg" ></
	          </div>
	          <div class="form-group">
	            <label for="id_rek_tujuan" class="control-label">Rek. Tujuan : <span class="vfb-required-asterisk"> </span></label>
				 	<select name="id_rek_tujuan" id="id_rek_tujuan" class="vfb-select  vfb-medium  required ">
				 		<option value="1">BRI Syariah 105 79 35 628</option>
				 		<option value="2">Mandiri Syariah 706 6116 561</option>
				   </select> 
	          </div>
	          <div class="form-group">
	            <label for="jum_donasi" class="control-label">Jumlah Donasi:</label>
	             <input type="text" class="form-control" id="jum_donasi" placeholder="nominal donasi" name="jum_donasi" ></
	          </div>
	          <div class="form-group">
	            <label for="tanggal" class="control-label">Tanggal :</label>
	            <input type="date" class="form-control" name="tanggal" id="tanggal" placeholder="Tanggal"/></
	          </div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" name="Submit" value="Save" class="btn btn-primary" />
      </div>
    </div>
  </div>
</div>
<!--  -->





<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
